<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @consort.name %>
</p>

<p>
  <b>Active:</b>
  <%= @consort.active %>
</p>

<p>
  <b>Company:</b>
  <%= @consort.company_id %>
</p>

<p>
  <b>Notes:</b>
  <%= @consort.notes %>
</p>


<%= link_to 'Edit', edit_consort_path(@consort) %> |
<%= link_to 'Back', consorts_path %>
