<p id="notice"><%= notice %></p>

<p>
  <b>Add1:</b>
  <%= @address.add1 %>
</p>

<p>
  <b>Add2:</b>
  <%= @address.add2 %>
</p>

<p>
  <b>City:</b>
  <%= @address.city %>
</p>

<p>
  <b>State:</b>
  <%= @address.state %>
</p>

<p>
  <b>Zip:</b>
  <%= @address.zip %>
</p>

<p>
  <b>Type:</b>
  <%= @address.type %>
</p>

<p>
  <b>Notes:</b>
  <%= @address.notes %>
</p>


<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
